.gallery-card1-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card1-image {
  width: 100%;
  height: 584px;
  object-fit: cover;
  transition: 0.3s;
}
.gallery-card1-image:hover {
  height: 780px;
}
.gallery-card1-text {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.gallery-card1-text1 {
  color: #595959;
  align-self: flex-start;
}





@media(max-width: 767px) {
  .gallery-card1-gallery-card {
    flex-direction: column;
  }
}

.gallery-card3-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card3-navlink {
  display: contents;
}
.gallery-card3-image {
  width: 100%;
  height: 584px;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
.gallery-card3-image:hover {
  height: 780px;
}
.gallery-card3-text {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.gallery-card3-text1 {
  color: #595959;
  align-self: flex-start;
}


@media(max-width: 767px) {
  .gallery-card3-gallery-card {
    flex-direction: column;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-icon1 {
  width: 24px;
  height: 24px;
}
.home-container1 {
  flex: 0 0 auto;
  width: 24px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.home-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.home-icon5 {
  width: 24px;
  height: 24px;
}
.home-stats {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  justify-content: center;
}
.home-max-width1 {
  align-items: center;
}
.home-content {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-subtitle {
  color: var(--dl-color-scheme-orange100);
  margin-bottom: var(--dl-space-space-unit);
}
.home-title {
  color: var(--dl-color-scheme-white);
  font-size: 52px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-link {
  transition: 0.3s;
  text-decoration: none;
}
.home-link:hover {
  width: 302px;
  padding-right: 22px;
}
.home-image {
  position: relative;
  padding-bottom: var(--dl-space-space-eightunits);
}
.home-graphic-top {
  top: 0px;
  right: -170px;
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: 359px;
  max-height: 359px;
  object-fit: contain;
  object-position: center;
}
.home-image1 {
  right: -170px;
  bottom: 0px;
  position: absolute;
  object-fit: contain;
}
.home-gallery {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
@media(max-width: 991px) {
  .home-stats {
    height: 70px;
  }
  .home-max-width1 {
    position: relative;
  }
  .home-content {
    width: 50%;
    height: 214px;
    margin-right: var(--dl-space-space-unit);
  }
  .home-image {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-image1 {
    top: -59px;
    left: -191px;
  }
  .home-section {
    z-index: 100;
  }
  .home-gallery {
    z-index: 100;
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .home-icon3 {
    fill: var(--dl-color-scheme-green100);
  }
  .home-stats {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-max-width1 {
    flex-direction: column-reverse;
  }
  .home-content {
    width: 100%;
    margin-right: 0px;
  }
  .home-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-stats {
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-gallery {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
