.gallery-card1-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card1-image {
  width: 100%;
  height: 584px;
  object-fit: cover;
  transition: 0.3s;
}
.gallery-card1-image:hover {
  height: 780px;
}
.gallery-card1-text {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.gallery-card1-text1 {
  color: #595959;
  align-self: flex-start;
}





@media(max-width: 767px) {
  .gallery-card1-gallery-card {
    flex-direction: column;
  }
}

.gallery-card3-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card3-navlink {
  display: contents;
}
.gallery-card3-image {
  width: 100%;
  height: 584px;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
.gallery-card3-image:hover {
  height: 780px;
}
.gallery-card3-text {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.gallery-card3-text1 {
  color: #595959;
  align-self: flex-start;
}


@media(max-width: 767px) {
  .gallery-card3-gallery-card {
    flex-direction: column;
  }
}

.card-card {
  flex: 0 0 auto;
  width: 32%;
  display: flex;
  padding: 20px;
  max-width: 450px;
  min-height: 480px;
  align-items: center;
  border-radius: 36px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/playground_assets/rectangle%2035-1500w.png");
}
.card-info {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-scheme-white);
}
.card-text {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.card-text1 {
  line-height: 1.5;
}
.card-root-class-name {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
}
.card-root-class-name1 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
}


.card-root-class-name4 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
}
.card-root-class-name5 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
}
@media(max-width: 767px) {
  .card-card {
    width: 100%;
  }
  .card-root-class-name {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name3 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name4 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name5 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-icon1 {
  width: 24px;
  height: 24px;
}
.home-container1 {
  flex: 0 0 auto;
  width: 24px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.home-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.home-icon5 {
  width: 24px;
  height: 24px;
}
.home-max-width1 {
  align-items: center;
}
.home-content {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-subtitle {
  color: var(--dl-color-scheme-orange100);
  margin-bottom: var(--dl-space-space-unit);
}
.home-title {
  color: var(--dl-color-scheme-white);
  font-size: 52px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-link {
  transition: 0.3s;
  text-decoration: none;
}
.home-link:hover {
  width: 302px;
  padding-right: 22px;
}
.home-image {
  position: relative;
  padding-bottom: var(--dl-space-space-eightunits);
}
.home-graphic-top {
  top: 0px;
  right: -170px;
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: 359px;
  max-height: 359px;
  object-fit: contain;
  object-position: center;
}
.home-image1 {
  right: -170px;
  bottom: 0px;
  position: absolute;
  object-fit: contain;
}
.home-section {
  background-color: rgba(255, 199, 139, 0.14);
}
.home-max-width2 {
  align-items: stretch;
}
.home-content1 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text01 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text02 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text03 {
  color: var(--dl-color-scheme-orange100);
  font-family: Urbanist;
}
.home-text05 {
  font-family: Urbanist;
}
.home-text06 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-hero-image {
  object-fit: contain;
  margin-right: -250px;
  border-radius: 48px;
}
.home-gallery {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
.home-max-width3 {
  align-items: stretch;
}
.home-hero-image1 {
  object-fit: contain;
  margin-left: -250px;
  border-radius: 48px;
}
.home-content2 {
  width: 50%;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text07 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text08 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text09 {
  font-family: Urbanist;
}
.home-text10 {
  color: var(--dl-color-scheme-orange100);
  font-family: Urbanist;
}
.home-text11 {
  font-family: Urbanist;
}
.home-text12 {
  font-family: Urbanist;
}
.home-text13 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-section2 {
  background-color: var(--dl-color-scheme-green100);
}
.home-max-width4 {
  align-items: stretch;
}
.home-image4 {
  width: 50%;
}
.home-hero-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 48px;
}
.home-content3 {
  width: 40%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text14 {
  color: var(--dl-color-scheme-white);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text15 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-step {
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-number {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.home-text16 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.home-container5 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title1 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text17 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.home-step1 {
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-number1 {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.home-text18 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.home-container6 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title2 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text19 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.home-step2 {
  display: flex;
  flex-direction: row;
}
.home-number2 {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.home-text20 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.home-container7 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title3 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text21 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.home-max-width5 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text22 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text23 {
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-cards-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .home-max-width1 {
    position: relative;
  }
  .home-content {
    width: 50%;
    margin-right: var(--dl-space-space-unit);
  }
  .home-image {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-image1 {
    top: -59px;
    left: -191px;
  }
  .home-max-width2 {
    flex-direction: column;
  }
  .home-content1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-image2 {
    padding-bottom: 0px;
  }
  .home-hero-image {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-section1 {
    z-index: 100;
  }
  .home-gallery {
    z-index: 100;
    grid-template-columns: 1fr 1fr;
  }
  .home-max-width3 {
    flex-direction: column;
  }
  .home-image3 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-hero-image1 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-content2 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-max-width4 {
    flex-direction: column;
  }
  .home-image4 {
    width: 100%;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-hero-image2 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-content3 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-max-width5 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-icon3 {
    fill: var(--dl-color-scheme-green100);
  }
  .home-max-width1 {
    flex-direction: column-reverse;
  }
  .home-content {
    width: 100%;
    margin-right: 0px;
  }
  .home-content1 {
    width: 100%;
    margin-right: 0px;
  }
  .home-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-content2 {
    width: 100%;
    margin-right: 0px;
  }
  .home-content3 {
    width: 100%;
    margin-right: 0px;
  }
  .home-cards-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .home-gallery {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
