.gallery-card3-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card3-navlink {
  display: contents;
}
.gallery-card3-image {
  width: 100%;
  height: 584px;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
.gallery-card3-image:hover {
  height: 780px;
}
.gallery-card3-text {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.gallery-card3-text1 {
  color: #595959;
  align-self: flex-start;
}


@media(max-width: 767px) {
  .gallery-card3-gallery-card {
    flex-direction: column;
  }
}
