<div>
  <link href="./gallery-card3.css" rel="stylesheet" />
  <div class="gallery-card3-gallery-card">
    <a href="goblin-dash.html" class="gallery-card3-navlink">
      <img
        src="ee111f8c-9afe-4802-88b1-9fc11318f20f"
        alt="image"
        class="gallery-card3-image"
      />
    </a>
    <h2 class="gallery-card3-text"><span>Goblin Dash</span></h2>
    <span class="gallery-card3-text1">
      <span>
        Goblin Dash, a speedrun game. Developes for Oygem Game Hackathon in 48
        hours
      </span>
    </span>
  </div>
</div>
