.gallery-card31-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image {
  width: 100%;
  height: 584px;
  object-fit: cover;
  transition: 0.3s;
}
.gallery-card31-image:hover {
  height: 780px;
}
.gallery-card31-text {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.gallery-card31-text1 {
  color: #595959;
  align-self: flex-start;
}
@media(max-width: 767px) {
  .gallery-card31-gallery-card {
    flex-direction: column;
  }
}
